@charset "UTF-8";
/*! Author: JW 2022-09-30. Edit: 2022-10-11 */
@font-face {
  font-family: "NanumSquareExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareEB.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareR";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareR.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareL";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareL.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Bold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Light.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1.2;
  font-size: 2rem;
  font-family: "Roboto-Regular", "NanumSquareR", sans-serif;
  color: #000;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: "Roboto-Bold", "NanumSquareExtraBold", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li, dd {
  list-style: none;
}

#__next {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.next-container {
  flex: 1;
}

.header .main-tit {
  display: flex;
  align-items: center;
  height: 60px;
}
.header .main-tit .logo-img {
  width: 30px;
  margin: 0 10px;
}

.footer {
  padding: 20px;
  border-top: 1px solid #000;
  text-align: center;
}