@charset "UTF-8";
/* Author: JW 2022-09-30 */
@font-face {
  font-family: "NanumSquareExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareEB.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareR";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareR.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareL";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/NanumSquareL.woff") format("woff");
  unicode-range: U+AC00-D7AF, U+0030-0039, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E; /* 특수문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Bold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font/Roboto-Light.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A; /* 영문 대문자, 소문자 */
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: none;
}

body {
  line-height: 1.2;
  font-size: 2rem;
  font-family: "Roboto-Regular", "NanumSquareR", sans-serif;
  color: #000;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: "Roboto-Bold", "NanumSquareExtraBold", sans-serif;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li, dd {
  list-style: none;
}

.next-wrap {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.header-wrap {
  padding: 0 20px;
  position: sticky;
  top: 0;
}
.header-wrap .header {
  display: flex;
  justify-content: space-between;
}
.header-wrap .main-tit a {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 30px;
  color: #000;
}
.header-wrap .main-tit a:after {
  content: "Next.js";
  width: 26px;
  height: 26px;
  margin-left: 10px;
  font: 0/0 a;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.749 30.005c-.119.063-.109.083.005.025a.31.31 0 0 0 .095-.061c0-.021 0-.021-.1.036zm.24-.13c-.057.047-.057.047.011.016a.249.249 0 0 0 .068-.047c0-.027-.016-.021-.079.031zm.156-.094c-.057.047-.057.047.011.016a.246.246 0 0 0 .068-.048c0-.025-.016-.02-.079.032zm.158-.093c-.057.047-.057.047.009.015.037-.02.068-.041.068-.047 0-.025-.016-.02-.077.032zm.213-.141c-.109.073-.147.12-.047.068.067-.041.181-.131.161-.131-.043.016-.079.043-.115.063zM14.953.011c-.073.005-.292.025-.484.041-4.548.412-8.803 2.86-11.5 6.631a15.828 15.828 0 0 0-2.824 6.989c-.129.88-.145 1.14-.145 2.333 0 1.192.016 1.448.145 2.328.871 6.011 5.147 11.057 10.943 12.927 1.043.333 2.136.563 3.381.704.484.052 2.577.052 3.061 0 2.152-.24 3.969-.771 5.767-1.688.276-.14.328-.177.291-.208a340.89 340.89 0 0 1-2.609-3.495l-2.557-3.453-3.203-4.745a416.396 416.396 0 0 0-3.229-4.744c-.011 0-.025 2.109-.031 4.681-.011 4.505-.011 4.688-.068 4.792a.572.572 0 0 1-.276.287c-.099.047-.188.057-.661.057h-.541l-.141-.088a.595.595 0 0 1-.208-.229l-.068-.141.005-6.271.011-6.271.099-.125a.753.753 0 0 1 .229-.187c.131-.063.183-.073.724-.073.635 0 .74.025.907.208a602.855 602.855 0 0 1 3.859 5.812c2.079 3.152 4.917 7.453 6.312 9.563l2.537 3.839.125-.083a16.346 16.346 0 0 0 3.285-2.885 15.935 15.935 0 0 0 3.767-8.177c.129-.88.145-1.141.145-2.333 0-1.193-.016-1.448-.145-2.328C30.985 7.668 26.709 2.622 20.913.751a16.983 16.983 0 0 0-3.328-.697c-.303-.031-2.371-.068-2.631-.041zM21.5 9.688a.623.623 0 0 1 .317.364c.027.084.032 1.823.027 5.74l-.011 5.624-.989-1.52-.995-1.521v-4.083c0-2.647.011-4.131.025-4.204a.67.67 0 0 1 .313-.395c.124-.063.172-.068.667-.068.463 0 .541.005.645.063z'/%3E%3C/svg%3E") no-repeat;
  background-size: 100% 100%;
}
.header-wrap .nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-wrap .nav a {
  font-size: 14px;
  color: #000;
}